<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Book</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a class="btn btn-lg go-back-btn btn-primary" href="/search">&lt;</a>

    <h1 th:text="${book.title}"></h1>
    <h3 th:text="${book.author}"></h3>

    <section>
      <p>Read by <strong th:text="${readStat}"></strong> users.</p>
      <p>Users that want to read <strong th:text="${tbrStat}"></strong>.</p>
      <p>
        With <strong th:text="${commentStat}"></strong> comments and
        <strong th:text="${ratingStat}"></strong> ratings.
      </p>
    </section>

    <section>
      <form th:unless="${bookshelves.isEmpty()}" method="post" action="/books">
        <h4>Add book to bookshelf</h4>
        <input type="text" name="bookId" th:value="${book.id}" hidden />
        <select name="bookshelfId">
          <option
            th:each="bookshelf : ${bookshelves}"
            th:value="${bookshelf.id}"
            th:text="${bookshelf.name}"
          ></option>
        </select>
        <button class="btn btn-primary" type="submit">Add</button>
      </form>

      <form th:if="${read}" method="post" action="/books">
        <input type="text" name="bookId" th:value="${book.id}" hidden />
        <input type="text" name="bookshelfId" th:value="${read.id}" hidden />
        <button class="btn" type="submit">I've read the book</button>
      </form>

      <form th:if="${tbr}" method="post" action="/books">
        <input type="text" name="bookId" th:value="${book.id}" hidden />
        <input type="text" name="bookshelfId" th:value="${tbr.id}" hidden />
        <button class="btn" type="submit">I want to read the book</button>
      </form>

      <p th:text="${message}"></p>
    </section>

    <section>
      <form method="post" action="/review/rating">
        <h4>Rate book</h4>
        <input type="text" name="bookId" th:value="${book.id}" hidden />
        <select name="stars" required>
          <option value="" disabled selected>Select a rating</option>
          <option value="1.0">1</option>
          <option value="1.5">1.5</option>
          <option value="2.0">2</option>
          <option value="2.5">2.5</option>
          <option value="3.0">3</option>
          <option value="3.5">3.5</option>
          <option value="4.0">4</option>
          <option value="4.5">4.5</option>
          <option value="5.0">5</option>
        </select>
        <button class="btn btn-primary" type="submit">Rate</button>
      </form>

      <form method="post" action="/review/comment">
        <h4>Add a comment</h4>
        <input type="text" name="bookId" th:value="${book.id}" hidden />
        <textarea name="content" cols="30" rows="5"></textarea>
        <button class="btn btn-primary" type="submit">Add</button>
      </form>
    </section>

    <section>
      <p>Rating <span th:text="${rating}"></span></p>
      <h3>Comments</h3>
      <ul class="comments">
        <li class="comment" th:each="comment: ${comments}">
          <p class="author" th:text="${comment.username}"></p>
          <p class="content" th:text="${comment.content}"></p>
        </li>
      </ul>
    </section>
  </body>
</html>
