<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Bookshelf</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a class="btn btn-lg go-back-btn btn-primary" href="/bookshelves">&lt;</a>

    <h1 th:text="${bookshelf.name}">Bookshelf</h1>

    <table>
      <tr th:each="book: ${books}">
        <td th:text="${book.title}" />
        <td th:text="${book.author}" />
        <td>
          <button
            class="btn btn-primary"
            th:onclick="deleteBookById([[${book.id}]], [[${bookshelf.id}]])"
          >
            delete
          </button>
        </td>
      </tr>
    </table>

    <a class="btn btn-lg" href="/search"
      >Search for more books to add to your shelf!</a
    >

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bookshelf.js}"></script>
  </body>
</html>
