<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Book</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a class="btn btn-lg go-back-btn btn-primary" href="/search">&lt;</a>

    <h1 th:text="${book.title}"></h1>
    <h3 th:text="${book.author}"></h3>

    <form method="post" action="/books">
      <h4>Add book to bookshelf</h4>
      <input type="text" name="bookId" th:value="${book.id}" hidden />
      <select name="bookshelfId">
        <option
          th:each="bookshelf : ${bookshelvesWithoutBook}"
          th:value="${bookshelf.id}"
          th:text="${bookshelf.name}"
        ></option>
      </select>
      <button type="submit">Add</button>

      <p th:text="${message}"></p>
    </form>
  </body>
</html>
