<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Home</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Home</h1>
    <h2>Welcome home <span th:text="${username}">user</span>!</h2>
    <section class="links">
      <a href="/edit-profile">Edit your profile</a>
      <a href="/bookshelves">Manage your bookshelves</a>
      <a href="/search">Search books</a>
    </section>
    <a href="/logout">Log out</a>
  </body>
</html>
