<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Search</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a class="btn btn-lg go-back-btn btn-primary" href="/home">&lt;</a>

    <h1>Search</h1>

    <form method="get" action="/books">
      <input
        class="form-control"
        type="text"
        name="key"
        placeholder="Search..."
      />
      <button class="btn btn-lg btn-primary" type="submit">Search</button>
    </form>
  </body>
</html>
