<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Edit Profile</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a class="btn btn-lg go-back-btn btn-primary" href="/home">&lt;</a>

    <h1>Edit Profile</h1>

    <form id="edit-user-form">
      Username
      <input
        class="form-control"
        type="text"
        id="username-input"
        name="username"
      />
      <br />
      Password
      <input
        class="form-control"
        type="password"
        id="password-input"
        name="password"
      />
      <br />
      <button class="btn btn-lg btn-primary" type="submit">Submit</button>

      <button
        class="btn btn-lg btn-primary"
        type="button"
        onclick="deleteUser()"
      >
        Delete user
      </button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/js/user-edit.js}"></script>
  </body>
</html>
