<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodreads | Admin Panel</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a class="btn btn-lg go-back-btn btn-primary" href="/admin">&lt;</a>

    <h1 th:text="${name}"></h1>

    <section>
      <form id="itemForm">
        <h2 id="formTitle">Add</h2>
        <input type="text" id="itemId" name="id" disabled hidden />
        <input
          th:each="field: ${fields}"
          type="text"
          th:id="${field}"
          th:name="${field}"
          th:placeholder="${field}"
        />
        <button type="submit">Submit</button>

        <pre id="message"></pre>
      </form>

      <button type="button" onclick="setFormToCreate()">Clear form</button>
    </section>

    <section>
      <table>
        <thead>
          <td>id</td>
          <td th:each="field: ${fields}" th:text="${field}"></td>
        </thead>
        <tr th:each="item : ${items}">
          <td th:text="${item.id}"></td>
          <td
            th:each="field : ${fields}"
            th:text="${item['__${field}__']}"
            th:class="${'item-' + item.id}"
            th:data-fieldname="${field}"
          ></td>
          <td>
            <button th:onclick="updateItemForm([[${item.id}]])">edit</button>
          </td>
          <td>
            <button th:onclick="deleteItem([[${item.id}]])">delete</button>
          </td>
        </tr>
      </table>
    </section>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/

      const path = /*[[${name}]]*/ "items";

      /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
  </body>
</html>
