body {
  background-color: #eee;
  font-family: sans-serif;
  line-height: 1.15;
  padding: 20px 100px;
}

.go-back-btn {
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

td {
  padding: 5px;
}

button {
  cursor: pointer;
}

form {
  padding: 20px 10px;
  border: 1px solid #333;
  border-radius: 10px;
  width: fit-content;
  margin: 15px 0;
}

section {
  padding: 15px 0;
}

.comments {
  list-style-type: none;
  padding: 0;
}

.comment {
  border: 1px solid #333;
  padding: 10px;
}

.comment .author {
  font-weight: bold;
}
